* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 18px;
    font-family: cursive;
    --bg: #121212;
    --color: rgba(255, 255, 255, 0.87);

    --bg-white: rgba(255, 255, 255);
    --bg-white-sec: #eeeeee;
}

body{
    display: flex;
    height: 100vh;
    background-color: var(--bg-white-sec);
}

/* START HEADER STYLE */
header {
    height: 100vh;
    background-color: var(--bg);
    color: var(--color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}


.burger > div {
    background-color: var(--bg);
    width: 1.5rem;
    height: 0.225rem;
    margin-bottom: 0.3rem;
    cursor: pointer;
}

.menu-wrapper {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    cursor: pointer;
    padding: 0.625rem;
    border-radius: 2rem;
    display: none;
}

.option-container{
    padding: 1rem;
    flex: 2;
    gap: 1.25rem;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.option-container h3 {
    border-bottom: 0.1rem dashed var(--color);
    margin-bottom: 0.75rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.option-container input {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

header h2 {
    align-self: center;
    border-bottom: 0.1rem solid var(--color);
    text-align: center;
    width: 80%;
}

.btn {
    font-family: sans-serif;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    background-color: var(--bg-white-sec);
    border: 0.125rem solid var(--bg-white);
}

input[type='color']{
    cursor: pointer;
    width: 4.5rem;
    height: 1.75rem;
}

.btn:hover {
    box-shadow: 0 0 0.5rem 0.1rem var(--bg-white);
}

/* START FOOTER STYLE */
footer{
    justify-self: flex-end;
    align-self: center;
    text-align: center;
    width: 80%;
}

footer img {
    width: 2rem;
    height: auto;
    vertical-align: bottom;
    padding-left: 0.5rem;
}
/* END FOOTER STYLE */



/* END HEADER STYLE */


/* START MAIN STYLE */
main {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}


/* START GRID STYLE */
.grid-container{
    width: 35rem;
    height: 35rem;
    background-color: var(--bg-white);
}
/* END GRID STYLE */

/* END MAIN STYLE */



/* UTILITY STYLES USED BY JS */

.grid-item-border {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.grid-border {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.active-mode {
    box-shadow: 0 0 0.5rem 0.1rem lawngreen;
}

.active-display{
    display: flex;
}


@media only screen and (max-width:1000px) {
    :root{
        font-size:16px     
    }

    header {
        display: none;
        position: absolute;
        width: 50%;

        padding-top: 4rem;
    }

    .menu-wrapper{
        display: flex;
    }

}

@media only screen and (max-width:480px) {
   
    header {
        width: 100%;
    }
}

@media only screen and (max-width:480px) {
    :root{
        font-size:10px;
    }
}

@media only screen and (max-width:290px) {
    :root{
        font-size:8px;
    }

    header {
        width: 100%;
    }
}