* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 18px;
    font-family: cursive;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* START HEADER STYLE */
header {
    padding: 0.25rem 2rem;
    text-align: center;
}
/* END HEADER STYLE */


/* START MAIN STYLE */
main {
    display: flex;
    justify-content: center;
}

/* START GRID STYLE */
.grid-container{
    width: 30rem;
    height: 30rem;
}
/* END GRID STYLE */

/* END MAIN STYLE */









.grid-item-border {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.grid-border {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.active-mode {
    background-color: aqua;
}


/* START FOOTER STYLE */
footer{
    text-align: center;
    padding: 1rem 3rem;
}

footer img {
    width: 2rem;
    height: auto;
    vertical-align: bottom;
    padding-left: 0.5rem;
}
/* END FOOTER STYLE */


@media only screen and (max-width:600px) {
    :root{
        font-size:10px
    }
}